jit
generated
*.o
*.*~
*.xcodeproj
out/
*.swp

snmpget

/build
/libsnmpclient/build
/out
/default
# various stuff that VC++ produces/uses
Debug/
Release/
*.sln
*.suo
*.vcproj
*.vcxproj
*.vcxproj.user
*.vcxproj.filters
UpgradeLog*.XML
_UpgradeReport_Files/
ipch/
*.sdf
*.opensdf
*.orig
format_code.bat
tools/gyp